@import url(./estPadrao.css);

.foup-about-section {
  padding           : 60px 0;
  background-color  : var(--cor-branco);
}

.pillar-card {
  border: none;
  text-align        : center;
  padding           : 20px;
  transition        : transform 0.3s;
}

.pillar-card:hover {
  transform         : translateY(-5px);
}

.pillar-card i {
  font-size         : 2.5rem;
  color             : var(--cor-azul-escuro);
  margin-bottom     : 15px;
}

.pillar-card h5 {
  color             : var(--cor-azul-escuro);
  font-weight       : 600;
}

.pillar-card a {
  color             : var(--cor-laranja);
  text-decoration   : none;
  font-weight       : 500;
}

.pillar-card img {
    width           : 48px;
    height          : 48px;
    margin-bottom   : 15px;
}

.icon-svg-md {
    width           : 48px;
    height          : 48px;
}

.foup-about-section {
    padding     : 60px 0;
}

.texto-escondido{
    padding-top : 120px;
}