@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "gobold";
  src: url("gobold/Gobold-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --cor-azul-claro  : #68b1d5;
  --cor-azul-medio  : #219ebc;
  --cor-azul-escuro : #023047;
  --cor-amarelo     : #fcbc1a;
  --cor-laranja     : #fb8500;
  --cor-branco      : #ffffff;
  --cor-preto       :#000000;
  --cor-fundo       : #f8f8f8;

  --fonte-gobold    : "gobold", "Poppins", sans-serif !important;
  --fonte-poppins   : "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-gobold);
}

body {
  overflow-x: hidden;
  font-family: var(--fonte-poppins);
  background-color: var(--cor-fundo);
}

@media (max-width: 768px) {
  .vertical-text {
    display: none;
  }
}

.link-sem-estilo {
    color: inherit;
    text-decoration: none; 
}

.link-sem-estilo:hover {
    color: var(--cor-azul-escuro);
    text-decoration: underline;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none; /* Remove o sublinhado */
    /* Se precisar, também defina a cor do texto para evitar a cor padrão do link */
    /* color: inherit;  Isso fará com que a cor seja herdada do elemento pai, ou defina uma cor específica */
}

a:hover {
    text-decoration: underline; /* Adiciona o sublinhado apenas ao passar o mouse */
}