/* CSS Document */

* {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	color: #000;
	font: 11px Verdana;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
