/* CSS Document */
#formulario form{
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
#formulario fieldset{
	padding: 0 20px 20px 20px;
	border: 1px solid #ccc;
}

#formulario legend{
	padding: 20px 0;
	font-weight: bold;
	color: #c03;
	font-size: 12pt;
	letter-spacing: 1px;
}


#formulario input{
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 15px;
	margin-bottom: 10px;
	color: #333;
	padding: 3px;
}

#formulario select{
	border: 1px solid #333;
	font-size: 13px;
	margin-bottom: 10px;
	color: #0E0659;
	padding: 3px 2px;
}

#formulario label{
	display: inline;
	width: 140px;
	/*float: left;*/
	color: #000;
	/*border-bottom: 1px solid #f1f1f1;*/
	/*font-size: 10pt;*/
	display: block;
}

#formulario span{
	color: #999;
	font-size: 12px;
}

#formulario .botao{
	font-size: 13px;
	background: #f1f1f1;
	margin: 15px 0px 0px 0px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-weight: bold;
	
}
