* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4A5157;
}

html {
     overflow: -moz-scrollbars-vertical;
}

h1, h2, h3 {
	text-transform: lowercase;
	color: #292929;
}

h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

h2 {
	font-size: 24px;
	color: #292929;
}

h3 {
	font-size: 13px;
	color: #292929;
}

p, ul, ol {
	margin-bottom: 2em;
	text-align: justify;
	line-height: 200%;
}

p {
}

ul {
}

ol {
}

a {
	color: #FF0000;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}

img.left {
}

img.right {
}

.tn img {
	border: 8px solid #F5F5F5;
}

hr {
	display: none;
}

/* Logo */

#logo {
	width: 92%;
	height: 100px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#logo h1 {
	float: left;
	padding: 35px 55px 0 0;
	height: 54px;
/*	background: url(images/img02.gif) no-repeat 100% 25px; */
	background: url(../imag/ped_logo.gif) no-repeat 100% 25px;
	font-size: 38px;
	font-weight: normal;
	letter-spacing: -2px;
}

#logo h2 {
	float: right;
	padding: 50px 0 0 0;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 14px;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 100%;
	height: 50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 25px;
	margin: 0 10px;
	padding: 5px 5px 0px 5px;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: #EC0000 url(images/img03.gif) repeat-x left bottom;
}

/* Page */

#bg {
	background-image: url(images/img04.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#page {
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* Content */

#content {
	float: right;
	width: 75%;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 0;
}

#content h1 {
	margin: 20px 0 10px 3px;
	padding-left: 33px;
	background: url(images/img07.gif) no-repeat left center;
}

#content .content {
	padding-left: 2px;
}

/* Posts */

.post h1.title {
	margin: 20px 0 10px 0;
	padding-left: 33px;
	background: url(images/img07.gif) no-repeat left center;
}

.post h2.title {
	margin: 20px 0 10px 0;
	padding-left: 33px;
	background: url(images/img07.gif) no-repeat left center;
}

.post .title a {
	text-decoration: none;
	color: #292929;
}

.post .entry {
	padding-left: 0px;
}

.post ul, .post ol {
	margin-left: 3em;
}

.post ul {
	list-style-type: square;
}

.post ol {
	list-style-type: decimal;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 20%;
	padding: 0;
}

#sidebar a {
	color: #4A5157;
}

.box {
}

.box .title {
	height: 27px;
	padding: 6px 0 0 34px;
	background: #C80000 url(images/img05.gif) no-repeat;
	text-transform: lowercase;
	font-size: 17px;
	color: #FFFFFF;
}

.box .content {
	padding: 26px;
	background: url(images/img06.gif) repeat-x;
}

.box ul {
	list-style: none;
	line-height: normal;
}

.style1 {color: #FFFFFF}

.box ul li {
	margin-bottom: 13px;
	font-size: 12px;
}

.box small {
	font-size: 10px;
	color: #808C96;
}

/* Footer */

#footer {
	padding: 35px 0;
	background: url(images/img08.gif) no-repeat center top;
	font-size: 12px;
}

#footer p {
	text-align: center;
}
